@use "../../../scss/globals.scss" as g;

.sidebar {
  background-color: g.$dark-background-color;
  color: g.$muted-color;
  flex-direction: column;
  display: flex;
  transition: opacity ease 0.2s;
  border-right: solid 1px g.$border-color;
  position: relative;
  overflow: hidden;
  padding-top: g.$spacing-unit;
  width: 220px;
  height: 100%;

  &__container {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &__menu {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
  }

  &__menu-item {
    padding: 0;
    margin: 0;
    width: 100%;

    &--active {
      .sidebar__menu-item-button {
        background-color: rgba(255, 255, 255, 0.1);
        color: g.$hs-color;
      }
    }
  }

  &__menu-item-button {
    display: flex;
    align-items: center;
    width: 100%;
    padding: g.$spacing-unit * 1.5;
    background: none;
    border: none;
    color: g.$muted-color;
    cursor: pointer;
    text-align: left;
    transition: background-color 0.2s, color 0.2s;

    &:hover {
      background-color: rgba(255, 255, 255, 0.05);
    }
  }

  &__menu-item-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: g.$spacing-unit;

    svg {
      width: 16px;
      height: 16px;
    }
  }

  &__menu-item-text {
    font-size: g.$body-font-size;
  }

  &__footer {
    padding: 1rem;
    border-top: 1px solid g.$border-color;
  }

  &__user-info {
    display: flex;
    width: 100%;
    align-items: start;
    flex-direction: column;
    gap: 0.5rem;
  }

  &__user-info-user {
    display: flex;
    align-items: center;
    gap: g.$spacing-xs * 4;
    width: 100%;
  }

  &__user-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: g.$blue-500;
    color: g.$hs-color;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
  }

  &__user-details {
    text-align: center;
  }

  &__user-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }

  &__user-name {
    font-weight: 600;
    margin: 0;
    font-size: g.$font-size-md * 1.2;
    color: g.$muted-color;
  }

  &__user-email {
    font-size: 0.8rem;
    color: g.$text-secondary;
    margin: 0;
  }

  &__logout-button {
    background: none;
    border: 1px solid g.$border-color;
    border-radius: 6px;
    color: g.$hs-color;
    padding: 0.25rem 0.5rem;
    cursor: pointer;
    margin-top: 0.5rem;
    width: 100%;
    background-color: g.$error-color;

    &:hover {
      background-color: g.$card-hover;
      transition-duration: 200ms;
    }
  }

  &__auth-button {
    width: 100%;
    padding: 0.5rem;
    background-color: #2ea44f;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;

    &:hover {
      background-color: #2c974b;
    }
  }

  &__loading {
    padding: 1rem;
    text-align: center;
    color: #586069;
  }
}