@use "../../scss/globals.scss";


.imagesSaves {
  width: 100%;

  &__card {
    width: 10rem;
    height: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 5px 10px;
    border-radius: 16px;
    border-color: globals.$body-color;

    &:hover {
      background-color: globals.$card-hover;
      cursor: pointer;
      transition-duration: 200ms;
    }
  }
}